a{
  color:inherit;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
.bell a:hover{
  text-decoration:none;
}
.bell:hover,.grid:hover{
  opacity:1;
}
nav ul{
  list-style-type: none;
  margin: 0; padding: 0;
  float:right;

}
nav ul li{
    display:inline;
    text-align: center;
    padding:8px;
    font-family: arial,sans-serif;
    opacity: 0.75;
}
.name{
  opacity: 0.55;
}
.search{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height:250px;
  margin: auto;
  text-align: center;

}
.logo{
  display:inline-block;
  background-image:url("https://www.google.ca/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
  height:92px;
  width:272px;
}
.searchbar{
  margin:30px;
  height:33px;
  width:486px;
  display:inline-block;
  position:relative;
}
.searchtext{
  width:100%;
  height:100%;
  border:1px solid lightgray;
  display:block;
  box-sizing: border-box;
  font-size:16px;
}
.searchtext:hover{
  border-color:gray;
}
.searchtext:focus{
  border-color:lightblue;
}
.voice{
  height:30px;
  width:30px;
  position:absolute;
  top:1px;
  right:0;
  background-size: 30px 30px;
  background-image:url("mic.png");
  background-repeat: no-repeat;
}
